body{
    background-color: #222222;
}

.button {
    transition: ease-out 0.3s;
    background-color: #2f5fff;
    text-align: center;
    font-size: 25px;
    color: white;
    border: none;
    cursor: pointer;
    outline: none;
    
    position: fixed;
    bottom: calc(50% - 27px);
    width: 30%;
    height: 55px;
    left: 35%;
    padding: 10px 0px;

    user-select: none;
}

.button:hover{
    transition: 0.5s all ease;
    background-color: #6783ff;
    bottom: calc(50% - 31px);
    width: 31%;
    height: 62px;
    left: 34.5%;
}

.button:active{
    background-color: #3645d3;
}

.susButton{
    background-color: #222222;
    border: 0px;
    outline: none;
    position: fixed;
    user-select: none;
}