body{
    background-color: #222222;
}

.button {
    background-color: #2f5fff;
    text-align: center;
    font-size: 25px;
    color: white;
    border: none;
    cursor: pointer;
    outline: none;

    position: fixed;
    bottom: 50%;
    width: 30%;
    left: 35%;
    padding: 10px 0px;

    user-select: none;
}

.button:hover{
    background-color: #6783ff;
}

.button:active{
    background-color: #3645d3;
}